body{
  background-color:white;
  margin:0;
  text-align: center;

  font-size: 20px;

}
.I{
  font-size: 80px;
}
.code{
width:500px;
}
.me{
  border-radius: 50%;
}
.skills{

border-top: 5px solid;
}
.skill_one{
width:26%;

border: 5px solid;



}
.skill_two{

  width:26%;


border: 5px solid;

}
.skill_three{

  width:26%;


  border: 5px solid;

}
.skill-roww{
padding:30px;

color:white;
top:16px;

}
hr{
  border: 2px solid;
  border-color: orange;
width:50%;

}


.skill_row2{
display: block;
position: relative;

padding-top: 20px;
}
.skill_row3{
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
.Python_cert{
  width:50%;
  border: 5px solid;

}
.Cert{
background-color: #FF4C29;
display:block;
position: relative;

padding:1em;
border-top: 4px solid;
border-color: white;

}
h1{
  margin-top:0;
  font-family: 'Bonheur Royale', cursive;
  font-size:70px;
}
.py:hover {
  background-color: pink;
  margin-left: 700px;
margin-right: 700px;
  display:block;

}
.bottomcloud{
  display: block;
  position: absolute;
  left:70px;
  bottom:220px;
  height: 70px;
}

.top{

  position: relative;
  padding-top: 100px;
  background-color:  #3EDBF0;

  border-color: black;

}
.middle-container{
  display: inline-block;
  position: relative;
width:100%;
background-color: #1E212D;
color:white;
padding-top: 1em;
margin-bottom: auto;

}
.bottom{
/*showing inline-block is how you can get elemens side by side*/
display: inline-block;
position: relative;
width:100%;
background-color: #E6D5B8

}
.bottomH{
  padding:1em;
  border-top: 5px solid;
  margin-top: 40px;
  border-color: white;
  text-decoration: underline;

}
.c{
  display: inline-block;
  position: relative;
  right: 200px;
}
.topcloud{
display: inline-block;
  position:relative;
right:100px;
top:30px;
height: 70px;
}
.T{
bottom: 10px;
  display: inline-block;
  position: relative;
  left:350px;

}

.Greet{
  display: block;
  position: relative;
  bottom:20px;
}
.good{
  display: block;
  position: relative;
  bottom:15px;
}
.btn{
  display: block;
  position: relative;
  bottom:15px;
}
.contact-me{

  display: block;
  position: relative;
  bottom:45px;
}
.bottom-container{
  display: block;
  position: relative;
bottom:40px;
}

